NET i_Rst_L LOC = P80 | IOSTANDARD = LVCMOS33; 
#
NET i_Clk LOC = P87 | IOSTANDARD = LVCMOS33; 


NET i_SPI_CS_n LOC = P23 | IOSTANDARD = LVCMOS33; 

NET i_SPI_MOSI LOC = P22 | IOSTANDARD = LVCMOS33;

NET o_SPI_MISO LOC = P21 | IOSTANDARD = LVCMOS33;

NET i_SPI_Clk LOC = P24 | IOSTANDARD = LVCMOS33;

#NET i_Tx_DV LOC = P17 | IOSTANDARD = LVCMOS33;

NET pb_gpiox LOC = p144 | IOSTANDARD = LVCMOS33;
NET pb_gpioy LOC = p143 | IOSTANDARD = LVCMOS33;
NET pb_gpioz LOC = p141 | IOSTANDARD = LVCMOS33;

NET gpio_pin LOC = p142 | IOSTANDARD = LVCMOS33;

#NET  o_Tx_Serial loc=p30 | IOSTANDARD = LVCMOS33;

NET  puls_in loc=p1 | IOSTANDARD = LVCMOS33;
NET  pulses loc=p27 | IOSTANDARD = LVCMOS33;
NET  pulses_x loc=p34 | IOSTANDARD = LVCMOS33;             
NET  pulses_y loc=p33 | IOSTANDARD = LVCMOS33;

NET  pin1 loc=p32 | IOSTANDARD = LVCMOS33;
NET  pin2 loc=p35 | IOSTANDARD = LVCMOS33;

NET  pin1x loc=p41 | IOSTANDARD = LVCMOS33;
NET  pin2x loc=p40 | IOSTANDARD = LVCMOS33;

NET  pin1y loc=p44 | IOSTANDARD = LVCMOS33;
NET  pin2y loc=p43 | IOSTANDARD = LVCMOS33;

NET  dead_end loc=p81 | IOSTANDARD = LVCMOS33;
NET  dead_endx loc=p82 | IOSTANDARD = LVCMOS33;
NET  dead_endy loc=p83 | IOSTANDARD = LVCMOS33;
NET  E_STOP loc=p10 | IOSTANDARD = LVCMOS33;

NET  out1[0] loc=p16 | IOSTANDARD = LVCMOS33;
NET  out1[1] loc=p15 | IOSTANDARD = LVCMOS33;
NET  out1[2] loc=p12 | IOSTANDARD = LVCMOS33;
NET  out1[3] loc=p11 | IOSTANDARD = LVCMOS33;
NET  out1[4] loc=p9 | IOSTANDARD = LVCMOS33;
NET  out1[5] loc=p8 | IOSTANDARD = LVCMOS33;
NET  out1[6] loc=p6 | IOSTANDARD = LVCMOS33;
NET  out1[7] loc=p5 | IOSTANDARD = LVCMOS33;
#
#NET  data_out[8] loc=p1 | IOSTANDARD = LVCMOS33;
#NET  data_out[9] loc=p2 | IOSTANDARD = LVCMOS33;
#NET  data_out[10] loc=p143 | IOSTANDARD = LVCMOS33;
#NET  data_out[11] loc=p144 | IOSTANDARD = LVCMOS33;
#NET  data_out[12] loc=p141 | IOSTANDARD = LVCMOS33;
#NET  data_out[13] loc=p142 | IOSTANDARD = LVCMOS33;
#NET  data_out[14] loc=p139 | IOSTANDARD = LVCMOS33;
#NET  data_out[15] loc=p140 | IOSTANDARD = LVCMOS33;
#NET  data_out[16] loc=p137 | IOSTANDARD = LVCMOS33;
#NET  data_out[17] loc=p138 | IOSTANDARD = LVCMOS33;
#NET  data_out[18] loc=p133 | IOSTANDARD = LVCMOS33;
#NET  data_out[19] loc=p134 | IOSTANDARD = LVCMOS33;
#NET  data_out[20] loc=p131 | IOSTANDARD = LVCMOS33;
#NET  data_out[21] loc=p132 | IOSTANDARD = LVCMOS33;
#NET  data_out[22] loc=p126 | IOSTANDARD = LVCMOS33;
#NET  data_out[23] loc=p127 | IOSTANDARD = LVCMOS33;
#NET  data_out[24] loc=p123 | IOSTANDARD = LVCMOS33;
#NET  data_out[25] loc=p124 | IOSTANDARD = LVCMOS33;
#NET  data_out[26] loc=p120 | IOSTANDARD = LVCMOS33;
#NET  data_out[27] loc=p121 | IOSTANDARD = LVCMOS33;
#NET  data_out[28] loc=p118 | IOSTANDARD = LVCMOS33;
#NET  data_out[29] loc=p119 | IOSTANDARD = LVCMOS33;
#NET  data_out[30] loc=p116 | IOSTANDARD = LVCMOS33;
#NET  data_out[31] loc=p117 | IOSTANDARD = LVCMOS33;